<div class="container">

  <form class="new_survey">

    <div class="name">
      <label for="name">Name</label>
      <input name="name" placeholder="Enter a title for your survey...">
    </div>

    <div class="question_list">

      <!--  -->

    </div>


    <button class="add_question">Add question</button>

    <input type="submit" value="Save">

  </form>


</div>

<div id="question_template">
  <p> This is a question </p>
</div>

