<div class="container">
  <% if current_user %>
    <a href="/surveys/new">Create a new survey!</a><br><br>
    <% if @surveys %>
      <% @surveys.each do |survey| %>
        <a href="/surveys/<%=survey.id%>"><%=survey.name%></a>
        <a href="/surveys/<%=survey.id%>/results">Results</a><br>
      <% end %>
    <% end %>
  <% else %>
    Login to create a survey!
  <% end %>
</div>
